src/main/mule/datacom.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03d31a3c-408a-43f3-8eca-88d8145455e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="datacomFlow" doc:id="5c4ccf92-2b31-4eb5-b970-08597f3fd213" >
		<http:listener doc:name="Listener" doc:id="dd059332-0e9c-4841-a36b-3cae9cd62493" config-ref="HTTP_Listener_config" path="/pa"/>
		<set-payload value="#['Hello world']" doc:name="Set Payload" doc:id="1fde513f-8b02-4162-b969-708459055849" />
	</flow>
</mule>
